<template>
  <div class="home">
    <Admin msg="Pracownicy"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Admin from '@/components/Admin.vue'

export default {
  name: 'home',
  components: {
    Admin
  }
}
</script>
