<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <b-card>
      <b-form inline>
        <b-form-input
          id="inputPerson"
          class="mb-2 mr-sm-2"
          placeholder="Filtruj osobę"
          v-model="filtrOsoba"
        ></b-form-input>
        <b-form-select
          id="selectDzial"
          class="col-sm-1 mb-2 mr-sm-2"
          v-model="filtrDzial"
          :options="filtrDzialy"
        ></b-form-select>
        <b-form-select
          id="selectKw"
          class="mb-2 mr-sm-2"
          v-model="filtrKwota"
          :options="filtrKwotaPrzedzialy"
        ></b-form-select>
      </b-form>
      <data-table :data="filteredEmployees" :displayNames="displayNames" :columns-to-display="displayColumns">
        <template slot="wynagrodzenieKwota" slot-scope="props">{{ props.entry.wynagrodzenieKwota }} {{ props.entry.wynagrodzenieWaluta }}</template>
      </data-table>
      <b-card id="addEmployee">
        <b-form id="addEmployeeForm" @submit="addEmployee" inline>
          <b-form-group id="imie">
            <b-form-input
              id="input-1"
              type="text"
              class="mb-2 mr-sm-3"
              v-model="form.imie"
              required
              oninvalid="this.setCustomValidity('Podaj poprawne imię')"
              oninput="setCustomValidity('')"
              minlength=3
              maxlength=32
              pattern="[A-ZĄĘŁŃÓŚŹŻa-ząćęłńóśźż]{3,32}"
              placeholder="Imię"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="nazwisko">
            <b-form-input
              id="input-2"
              type="text"
              class="mb-2 mr-sm-3"
              v-model="form.nazwisko"
              required
              oninvalid="this.setCustomValidity('Podaj poprawne nazwisko')"
              oninput="setCustomValidity('')"
              minlength=3
              maxlength=32
              pattern="[A-ZĄĘŁŃÓŚŹŻa-ząćęłńóśźż]{3,32}"
              placeholder="Nazwisko"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="dzial">
            <b-form-input
              id="input-3"
              type="text"
              class="mb-2 mr-sm-3"
              v-model="form.dzial"
              required
              oninvalid="this.setCustomValidity('Podaj dział')"
              oninput="setCustomValidity('')"
              placeholder="Dział"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="wynagrodzenieKwota">
            <b-form-input
              id="input-4"
              type="number"
              step="100"
              class="mb-2 mr-sm-3"
              v-model="form.wynagrodzenieKwota"
              required
              oninvalid="this.setCustomValidity('Podaj kwotę wynagrodzenia')"
              oninput="setCustomValidity('')"
              placeholder="Kwota wynagrodzenia"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="wynagrodzenieWaluta">
            <b-form-input
              id="input-5"
              type="text"
              class="mb-2 mr-sm-3"
              v-model="form.wynagrodzenieWaluta"
              required
              oninvalid="this.setCustomValidity('Podaj walutę')"
              oninput="setCustomValidity('')"
              placeholder="Waluta wynagrodzenia"
            ></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary">Dodaj</b-button>
        </b-form>
      </b-card>
    </b-card>
    <p>Suma wynagrodzenia według działów:</p>
    <ul>
      <li v-for="(value, name) in departmentSum">
        {{ name }}: {{ value }}
      </li>
    </ul>
    <p>Suma całkowita: {{ sum }}</p>
  </div>
</template>

<script>
import json from '@/resources/employees.json'
import Vue from 'vue'
export default {
  name: 'Admin',
  props: {
    msg: String
  },
  data: function() {
    return {
      displayColumns: ['imie', 'nazwisko', 'dzial', 'wynagrodzenieKwota'],
      displayNames: {
        'imie': 'Imię',
        'dzial': 'Dział',
        'wynagrodzenieKwota': 'Wynagrodzenie z walutą'
      },
      employees: json.PRACOWNICY,
      departmentSum: {},
      sum: 0,
      form: {},
      filtrOsoba: '',
      filtrDzial: '',
      filtrKwota: '',
      filtrDzialy: [],
      filtrKwotaPrzedzialy: [
          { value: null, text: 'wszystkie' },
          { value: '1000-2000', text: '1000-2000' },
          { value: '2001-3000', text: '2001-3000' },
          { value: '3001-4000', text: '3001-4000' }
        ],
      max: 4000,
      rozszerzPrzedzialy: false
    }
  },
  mounted() {
    this.processData();
  },
  watch: {
    employees() {
      this.processData();
    }
  },
  computed: {
    filteredEmployees() {
      return this.employees.filter((employee) => {
        let osoba = (employee.imie + " " + employee.nazwisko).toLowerCase();
        return (!this.filtrOsoba || osoba.includes(this.filtrOsoba.toLowerCase()))
                && (!this.filtrDzial || employee.dzial === this.filtrDzial)
                && (!this.filtrKwota || this.filterKwota(employee.wynagrodzenieKwota));
      })
    }
  },
  methods: {
    /**
     * Zgrupowana funkcja przetwarzania danych do tworzonych dynamicznie przedziałów czy sum.
     */
    processData() {
      this.getDepartmentSum();
      this.getDepartments();
      this.getSum();
      this.checkfilterKwotaPrzedzialy();
    },

    /**
     * Filtrowanie kwot mieszczących się w wybranym przedziale.
     * @param {number} kwota
     * @returns {boolean}
     */
    filterKwota(kwota) {
      let haczyki = this.filtrKwota.split('-');
      let min = parseInt(haczyki[0]);
      let max = parseInt(haczyki[1]);
      if ((kwota >= min) && (kwota <= max)) {
        return true;
      }
      return false;
    },

    /**
     * Sprawdzenie czy należy dynamicznie rozszerzyć wygenerowane przedziały
     * ew dostosowując do najwyższej kwoty wynagrodzenia.
     * @param {number} kwota
     */
    checkfilterKwotaPrzedzialy() {
      if (this.rozszerzPrzedzialy) {
        let haczykB = this.filtrKwotaPrzedzialy.length * 1000;
        while (this.max > haczykB) {
          let haczykA = haczykB + 1;
          haczykB = haczykA + 999;
          let przedzial = haczykA + '-' + haczykB;
          this.filtrKwotaPrzedzialy.push({ value: przedzial, text: przedzial });
        }
      }
      this.rozszerzPrzedzialy = false;
    },

    /**
     * Pobranie sum wynagrodzeń pracowników według działów,
     * dla optymalizacji ustalenie najwyższej kwoty wynagrodzenia w tej pętli.
     * @see #sumUpPayment
     */
    getDepartmentSum() {
      let temp_departmentSum = {};
      for (var i = 0; i < this.employees.length; i++) {
        if (!temp_departmentSum[this.employees[i].dzial]){
          let temp_list = this.employees.filter(employee => {
            return employee.dzial === this.employees[i].dzial;
          });
          temp_departmentSum[this.employees[i].dzial] = this.sumUpPayment(temp_list);
        }
        if (this.employees[i].wynagrodzenieKwota > this.max) {
          this.rozszerzPrzedzialy = true;
          this.max = this.employees[i].wynagrodzenieKwota;
        }
      }
      Vue.set(this,'departmentSum',temp_departmentSum);
    },

    /**
     * Pobranie sumy wszystkich wynagrodzeń.
     */
    getSum() {
      let temp_sum = this.sumUpPayment(this.employees);
      Vue.set(this,'sum',temp_sum);
    },

    /**
     * Obliczenie sumy wynagrodzeń dla podanych pracowników.
     * @param {Array of Objects} whom
     * @returns {string} kwota sumaryczna z walutą lub adnotacja o różnych walutach
     */
    sumUpPayment(whom) {
      let temp_sum = 0;
      let waluta = whom[0].wynagrodzenieWaluta;
      whom.forEach(employee => {
        if (employee.wynagrodzenieWaluta === waluta)
          temp_sum += parseFloat(employee.wynagrodzenieKwota);
        else {
          temp_sum = "kwoty podane w różnych walutach";
          return;
        }
      });
      temp_sum = typeof temp_sum !== 'number' ? temp_sum : temp_sum.toFixed(2) + ' ' + waluta;
      return temp_sum;
    },

    /**
     * Dodanie nowego pracownika jeśli nie jest to duplikat, następuje po walidacji
     * i formatuje podane dane, czyści formularz.
     */
    addEmployee() {
      this.form.wynagrodzenieWaluta = this.form.wynagrodzenieWaluta.toUpperCase();
      this.form.imie = this.capitalizeFirstLetter(this.form.imie);
      this.form.nazwisko = this.capitalizeFirstLetter(this.form.nazwisko);
      this.form.dzial = this.standardizeDepartmentName(this.form.dzial);
      if (!this.checkIfExist())
        this.employees.push(this.form);
      this.form = {};
      document.getElementById("addEmployeeForm").reset();
    },

    /**
     * Sprawdza czy wpisany w formularz pracownik nie jest duplikatem.
     * @returns {boolean} zwraca true, jeśli taki pracownik już istnieje
     */
    checkIfExist() {
      for (var i = 0; i < this.employees.length; i++) {
        if (this.employees[i].nazwisko === this.form.nazwisko)
          if (this.employees[i].imie === this.form.imie)
            return true;
      }
      return false;
    },

    /**
     * Fromatowanie nazwy działu w celu ustandaryzowania,
     * do 4 znaków uznawana jest za skrót i pisana dużymi literami,
     * powyżej każda pierwsza litera nazwy duża.
     * @param {string} string podana nazwa
     * @returns {string} sformatowana nazwa
     */
    standardizeDepartmentName(string) {
      if (string.length > 4) {
        let string_tab = string.split(' ');
        string = "";
        for (var i = 0; i < string_tab.length; i++) {
          string += this.capitalizeFirstLetter(string_tab[i]);
        }
      } else {
        string = string.toUpperCase();
      }
      return string;
    },

    /**
     * Zamiana pierwszej litery na dużej, pozostałych na małe.
     * @param {string} string
     * @returns {string}
     */
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    },

    /**
     * Przygotowanie listy działów do filtra.
     */
    getDepartments() {
      this.filtrDzialy = [''];
      Array.prototype.push.apply(this.filtrDzialy,Object.keys(this.departmentSum));
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1 {
  background-color: lightgray;
}
#addEmployee {
  background-color: honeydew;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.previousPage {
  position: relative;
}
.previousPage:before {
  content: "\f104";
  font-family: FontAwesome;
  position: absolute;
}
.nextPage {
  position: relative;
}
.nextPage:before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 5px;
}
</style>
